spring:
  application:
    name: supplychain

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/supplychainx_db
    username: supplychainx_user
    password: supplychainx_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          # this is the url that spring will use to check the token inside docker
          jwk-set-uri: http://keycloak:8080/realms/springboot/protocol/openid-connect/certs


application:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    access-token-expiration: 900000
    refresh-token-expiration: 604800000
  auth:
    converter:
      resourceId: springboot-client
      principalAttribute: preferred_username

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG

server:
  port: 8080
#spring:
#  application:
#    name: supplychain
#
#  datasource:
#    url: jdbc:postgresql://localhost:5432/supplychainx_db
#    username: supplychainx_user
#    password: supplychainx_pass
#    driver-class-name: org.postgresql.Driver
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    open-in-view: false
#    properties:
#      hibernate:
##        dialect: org.hibernate.dialect.PostgreSQLDialect
#        format_sql: true
#
#  liquibase:
#    enabled: false
#
#  main:
#    allow-bean-definition-overriding: true
#
## ======================
## JWT CONFIGURATION
## ======================
#application:
#  jwt:
#    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
#    access-token-expiration: 900000        # 15 minutes
#    refresh-token-expiration: 604800000    # 7 days
#  auth:
#    converter:
#      resourceId: springboot-client
#      principalAttribute: preferred_username
#
## ======================
## LOGGING
## ======================
#logging:
#  level:
#    root: INFO
#    com.example.auth: DEBUG
#    org.springframework.security: DEBUG
#    org.supplychain: DEBUG
#    org.springframework.security.oauth2: DEBUG
#
#
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          # Change localhost:8081 to host.docker.internal:8081 if you are running Spring in Docker
#          jwk-set-uri: http://localhost:8081/realms/springboot/protocol/openid-connect/certs
## ======================
## SERVER ERROR HANDLING
## ======================
#server:
#  port: 8080
#  error:
#    include-message: always
#    include-binding-errors: always