spring:
  application:
    name: supplychain

  datasource:
    url: jdbc:postgresql://localhost:5432/supplychainx_db
    username: supplychainx_user
    password: supplychainx_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    enabled: false

  main:
    allow-bean-definition-overriding: true

# ======================
# JWT CONFIGURATION
# ======================
application:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    access-token-expiration: 900000        # 15 minutes
    refresh-token-expiration: 604800000    # 7 days

# ======================
# LOGGING
# ======================
logging:
  level:
    root: INFO
    com.example.auth: DEBUG
    org.springframework.security: DEBUG
    org.supplychain: DEBUG

security:
  oauth2:
    client:
      registration:
        keycloak:
          client-id: springboot-client
          scope:
            - openid
            - profile
            - email
          authorization-grant-type: authorization_code
          redirect-uri: http://localhost:8080/login/oauth2/code/keycloak

      provider:
        keycloak:
          issuer-uri: http://localhost:8081/realms/springboot
          user-name-attribute: preferred_username
# ======================
# SERVER ERROR HANDLING
# ======================
server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always